<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AAY_Transdumper_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <AAY_Transdumper_v2.Properties.Settings>
            <setting name="Sounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startupsound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value/>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value/>
            </setting>
            <setting name="Testdone" serializeAs="String">
                <value/>
            </setting>
            <setting name="Result" serializeAs="String">
                <value/>
            </setting>
            <setting name="Resultfail" serializeAs="String">
                <value/>
            </setting>
            <setting name="Nextstr" serializeAs="String">
                <value/>
            </setting>
            <setting name="Nextstr2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Backstr" serializeAs="String">
                <value/>
            </setting>
            <setting name="Backtomain" serializeAs="String">
                <value/>
            </setting>
            <setting name="Explan" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fileselectstr" serializeAs="String">
                <value/>
            </setting>
            <setting name="Checkedstr" serializeAs="String">
                <value/>
            </setting>
            <setting name="Notcheckedstr" serializeAs="String">
                <value/>
            </setting>
            <setting name="Answer" serializeAs="String">
                <value/>
            </setting>
            <setting name="Showreview" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestsURIPath" serializeAs="String">
                <value>trandumpertests</value>
            </setting>
            <setting name="correctionOnAnswer" serializeAs="String">
                <value>True</value>
            </setting>
        </AAY_Transdumper_v2.Properties.Settings>
    </userSettings>
</configuration>
